* {
    background-image: none;
}
window {
  background: transparent;
}
button {
    background-color: #282828;
    border-width: 0px;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    color: #83a598;
}

button:active, button:hover {
    background-color: #3c3836;
    color: #8ec07c;
    outline-style: none;
}

#lock {
    opacity: 0.9;
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/share/wlogout/icons/logout.png"));
}

#logout {
    opacity: 0.9;
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    opacity: 0.9;
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    opacity: 0.9;
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    opacity: 0.9;
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    opacity: 0.9;
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
