* {
    background-image: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

window {
    background-color: rgba(255, 255, 255, 0.95);
}

button {
    color: #000000;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #c0c0c0;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    font-size: 13px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}

button:hover, button:active {
    background-color: rgba(110, 110, 110, 0.1);
    border-color: #6e6e6e;
    outline-style: none;
}
