#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background: #282a36
XTerm*foreground: #f8f8f2
XTerm*pointerColor: #50fa7b
XTerm*faceName: Fixed
XTerm*faceSize: 11

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #272935, #bc92f8, #272935
rofi.color-normal: #272935, #f7f7f1, #272935, #fe5454, #272935
rofi.color-active: #272935, #f7f7f7, #272935, #fe5454, #272935
rofi.color-urgent: #272935, #f7f7f7, #272935, #fe5454, #272935
