* {
  border: none;
  border-radius: 0;
  color: #cdd6f4;
  background-color: #1a1b26;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font Propo;
  font-size: 12px;
}

#workspaces {
  margin-left: 7px;
}

#workspaces button {
  all: initial;
  padding: 2px 6px;
  margin-right: 3px;
}

#custom-dropbox,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-power-menu {
  min-width: 12px;
  margin-right: 13px;
}

tooltip {
  padding: 2px;
}

tooltip label {
  padding: 2px;
}
