@import "themes/current.css";

* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 14px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: @fg;
  margin: 2px 2px;
}

#workspaces {
  border-radius: 5px;
  margin: 5px;
  background: @bg;
  margin-left: 1rem;
}

#workspaces button {
  color: @muted;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @accent;
  border-radius: 5px;
}

#workspaces button:hover {
  color: @hover;
  border-radius: 5px;
}

#workspaces button.urgent {
  color: #000000;
  background: @attention;
  border-radius: 5px;
  box-shadow: 0 0 18px alpha(@attention, 0.45);
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power {
  background-color: @bg;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  border-radius: 0px 5px 5px 0px;
}

#memory {
  border-radius: 0px 5px 5px 0px;
}

#clock {
  color: @accent;
  border-radius: 5px;
  margin-right: 1rem;
}

#battery {
  color: @success;
}

#battery.charging {
  color: @success;
}

#battery.warning:not(.charging) {
  color: @urgent;
}

#backlight {
  color: @warning;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @special;
  border-radius: 5px 0px 0px 5%;
  margin-left: 1rem;
}

#custom-music {
  color: @accent;
  border-radius: 5px;
}

#custom-lock {
  border-radius: 5px 0px 0px 5px;
  color: @fg;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 5px 5px 0px;
  color: @urgent;
}

#tray {
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
}
