* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 14px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: #ebdbb2;
  margin: 2px 2px;
}

#workspaces {
  border-radius: 5px;
  margin: 5px;
  background: #282828;
  margin-left: 1rem;
}

#workspaces button {
  color: #928374;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: #8ec07c;
  border-radius: 5px;
}

#workspaces button:hover {
  color: #fe8019;
  border-radius: 5px;
}

#workspaces button.urgent {
  color: #fb4934;
  border-radius: 5px;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power {
  background-color: #282828;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  border-radius: 0px 5px 5px 0px;
}

#custom-stream_status {
  background-color: #282828;
  padding: 0.5rem 1rem;
  margin: 5px 0;
  border-radius: 0px 5px 5px 0px;
}

#custom-stream_status.up {
  color: #b8bb26;
}

#custom-stream_status.warning {
  color: #fabd2f;
}

#custom-stream_status.down {
  color: #fb4934;
}

#memory {
  border-radius: 0px 5px 5px 0px;
}

#clock {
  color: #83a598;
  border-radius: 5px;
  margin-right: 1rem;
}

#battery {
  color: #b8bb26;
}

#battery.charging {
  color: #b8bb26;
}

#battery.warning:not(.charging) {
  color: #fb4934;
}

#backlight {
  color: #fabd2f;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: #d3869b;
  border-radius: 5px 0px 0px 5%;
  margin-left: 1rem;
}

#custom-music {
  color: #8ec07c;
  border-radius: 5px;
}

#custom-lock {
  border-radius: 5px 0px 0px 5px;
  color: #ebdbb2;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 5px 5px 0px;
  color: #fb4934;
}

#tray {
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
}
