# copy to ~/
[user]
	name = Wellington Moraes
	email = wellpunk@gmail.com
[push]
	default = simple
[init]
  defaultBranch = main
[credential]
	helper = cache --timeout=86400
[core]
	editor = vim
[merge]
	tool = vimdiff
