# copy to ~/
[user]
	name = Wellington Moraes
	email = wellpunk@gmail.com
[push]
	default = simple
[init]
  defaultBranch = main
[credential]
	helper = cache --timeout=86400
[core]
	editor = vim
  pager = delta

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  features = decorations
  side-by-side = true
  line-numbers = true

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  syntax-theme = cyberdream

[merge]
	tool = vimdiff
